USE [master]
GO
/****** Object:  Database [ChessDb]    Script Date: 17.06.2024 19:36:56 ******/
CREATE DATABASE [ChessDb]

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChessDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChessDb]
GO
/****** Object:  Table [dbo].[city]    Script Date: 17.06.2024 19:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[country_id] [int] NOT NULL,
 CONSTRAINT [PK_city] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[country]    Script Date: 17.06.2024 19:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[country](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_country] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[player]    Script Date: 17.06.2024 19:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[player](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](150) NOT NULL,
	[last_name] [nvarchar](150) NOT NULL,
	[birthdate] [date] NOT NULL,
	[sport_rank_id] [int] NULL,
	[is_world_champion_contender] [bit] NULL,
	[rating] [int] NULL,
	[country_id] [int] NULL,
	[note] [nvarchar](300) NULL,
	[image] [varbinary](max) NULL,
 CONSTRAINT [PK_player] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[player_tour]    Script Date: 17.06.2024 19:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[player_tour](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[player_id] [int] NULL,
	[tour_id] [int] NULL,
	[start_number] [int] NULL,
	[result_number] [int] NULL,
 CONSTRAINT [PK_player_tour] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sport_rank]    Script Date: 17.06.2024 19:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sport_rank](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_sport_rank] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tour_lvl]    Script Date: 17.06.2024 19:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tour_lvl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_tour_lvl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tournament]    Script Date: 17.06.2024 19:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tournament](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[city_id] [int] NULL,
	[event_date] [date] NULL,
	[tour_lvl_id] [int] NULL,
 CONSTRAINT [PK_tournament] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 17.06.2024 19:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[city] ON 

INSERT [dbo].[city] ([id], [name], [country_id]) VALUES (1, N'Москва', 1)
INSERT [dbo].[city] ([id], [name], [country_id]) VALUES (2, N'Нью-Йорк', 2)
INSERT [dbo].[city] ([id], [name], [country_id]) VALUES (3, N'Бейджин', 3)
SET IDENTITY_INSERT [dbo].[city] OFF
GO
SET IDENTITY_INSERT [dbo].[country] ON 

INSERT [dbo].[country] ([id], [name]) VALUES (1, N'Россия')
INSERT [dbo].[country] ([id], [name]) VALUES (2, N'США')
INSERT [dbo].[country] ([id], [name]) VALUES (3, N'Китай')
SET IDENTITY_INSERT [dbo].[country] OFF
GO
SET IDENTITY_INSERT [dbo].[player] ON 

SET IDENTITY_INSERT [dbo].[player] OFF
GO
SET IDENTITY_INSERT [dbo].[player_tour] ON 

INSERT [dbo].[player_tour] ([id], [player_id], [tour_id], [start_number], [result_number]) VALUES (4, 6, 5, 1, 1)
INSERT [dbo].[player_tour] ([id], [player_id], [tour_id], [start_number], [result_number]) VALUES (5, NULL, 2, 2, 2)
INSERT [dbo].[player_tour] ([id], [player_id], [tour_id], [start_number], [result_number]) VALUES (6, NULL, 4, 2, 2)
SET IDENTITY_INSERT [dbo].[player_tour] OFF
GO
SET IDENTITY_INSERT [dbo].[sport_rank] ON 

INSERT [dbo].[sport_rank] ([id], [name]) VALUES (1, N'Гроссмейстер')
INSERT [dbo].[sport_rank] ([id], [name]) VALUES (2, N'Международный мастер')
INSERT [dbo].[sport_rank] ([id], [name]) VALUES (3, N'Мастер ФИДЕ ')
SET IDENTITY_INSERT [dbo].[sport_rank] OFF
GO
SET IDENTITY_INSERT [dbo].[tour_lvl] ON 

INSERT [dbo].[tour_lvl] ([id], [name]) VALUES (1, N'Локальный')
INSERT [dbo].[tour_lvl] ([id], [name]) VALUES (2, N'Национальный')
INSERT [dbo].[tour_lvl] ([id], [name]) VALUES (3, N'Международный')
SET IDENTITY_INSERT [dbo].[tour_lvl] OFF
GO
SET IDENTITY_INSERT [dbo].[tournament] ON 

INSERT [dbo].[tournament] ([id], [city_id], [event_date], [tour_lvl_id]) VALUES (2, 1, CAST(N'2023-01-15' AS Date), 4)
INSERT [dbo].[tournament] ([id], [city_id], [event_date], [tour_lvl_id]) VALUES (3, 2, CAST(N'2023-02-20' AS Date), 3)
INSERT [dbo].[tournament] ([id], [city_id], [event_date], [tour_lvl_id]) VALUES (4, 3, CAST(N'2023-03-10' AS Date), 2)
SET IDENTITY_INSERT [dbo].[tournament] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id], [login], [password]) VALUES (1, N'admin', N'd82494f05d6917ba02f7aaa29689ccb444bb73f20380876cb05d1f37537b7892')
SET IDENTITY_INSERT [dbo].[user] OFF
GO
ALTER TABLE [dbo].[city]  WITH CHECK ADD  CONSTRAINT [FK_city_country] FOREIGN KEY([country_id])
REFERENCES [dbo].[country] ([id])
GO
ALTER TABLE [dbo].[city] CHECK CONSTRAINT [FK_city_country]
GO
ALTER TABLE [dbo].[player]  WITH CHECK ADD  CONSTRAINT [FK_player_sport_rank] FOREIGN KEY([sport_rank_id])
REFERENCES [dbo].[sport_rank] ([id])
GO
ALTER TABLE [dbo].[player] CHECK CONSTRAINT [FK_player_sport_rank]
GO
ALTER TABLE [dbo].[player_tour]  WITH CHECK ADD  CONSTRAINT [FK_player_tour_player] FOREIGN KEY([player_id])
REFERENCES [dbo].[player] ([id])
GO
ALTER TABLE [dbo].[player_tour] CHECK CONSTRAINT [FK_player_tour_player]
GO
ALTER TABLE [dbo].[player_tour]  WITH CHECK ADD  CONSTRAINT [FK_player_tour_tournament] FOREIGN KEY([tour_id])
REFERENCES [dbo].[tournament] ([id])
GO
ALTER TABLE [dbo].[player_tour] CHECK CONSTRAINT [FK_player_tour_tournament]
GO
ALTER TABLE [dbo].[tournament]  WITH CHECK ADD  CONSTRAINT [FK_tournament_city] FOREIGN KEY([city_id])
REFERENCES [dbo].[city] ([id])
GO
ALTER TABLE [dbo].[tournament] CHECK CONSTRAINT [FK_tournament_city]
GO
ALTER TABLE [dbo].[tournament]  WITH CHECK ADD  CONSTRAINT [FK_tournament_tour_lvl] FOREIGN KEY([tour_lvl_id])
REFERENCES [dbo].[tour_lvl] ([id])
GO
ALTER TABLE [dbo].[tournament] CHECK CONSTRAINT [FK_tournament_tour_lvl]
GO
USE [master]
GO
